<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/xlviii.css">
    <link rel="shortcut icon" href="../img/logo_faapi - icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <title>XLVIII FAAPI</title>
</head>
<body>
    <header class="menu-nuevo">
        <nav>
            <ul>
                <li class="enlace-nuevo"><a href="index.php">Back to top</a></li>
                <li class="enlace-nuevo"><a href="#faapi">FAAPI</a></li>
                <li class="enlace-nuevo"><a href="#whatisfaapi">What is FAAPI</a></li>
                <li class="enlace-nuevo"><a href="#committee">Committee</a></li>
                <li class="enlace-nuevo"><a href="#supports">Supports</a></li>
                <li class="enlace-nuevo"><a href="#consultants">Consultants</a></li>
                <li class="enlace-nuevo"><a href="#news">News</a></li>
                <li class="enlace-nuevo"><a href="#about">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="faapi" class="section">
        <div>
            <img src="../img/CONGRESO1.png" alt="congreso" class="faapi-image">
        </div>
        <div>
            <img src="../img/logovertical.png" alt="logovertical" class="lo-ver">
        </div>
        <div>
            <img src="../img/triangulos.png" alt="triangulos" class="triangulitos">
        </div>
        <div>
            <img src="../img/animalitos.png" alt="animalitos" class="animalitos">
        </div>
        <div>
            <img src="../img/letras.png" alt="letras" class="letras">
        </div>
        <div>
            <img src="../img/federacion.png" alt="federacion" class="federacion">
        </div>
        </section>
        <section id="whatisfaapi" class="section">
        <div>
            <img src="../img/textofaapi.png" alt="texto" class="texto-faapi">
        </div>
        <div>
            <img src="../img/logofaapi.png" alt="logofaapi" class="logo-faapi-2">
        </div>
        </section>
        <section id="committee" class="section">
            <h1 class="titulo-comitee">Directive Committee</h1>
            <div>
                <img src="../img/CONGRESO1.png" alt="congreso" class="congre">
            </div>
            <div>
                <img src="../img/logovertical.png" alt="en-vertical" class="log-ver">
            </div>
            <div>
                <img src="../img/" alt="" class="">
            </div>
            <div>
                <img src="../img/" alt="" class="">
            </div>
            <div>
                <img src="../img/" alt="" class="">
            </div>
            <div>
                <img src="../img/" alt="" class="">
            </div>
            <div>
                <img src="../img/" alt="" class="">
            </div>
            <div>
                <img src="../img/" alt="" class="">
            </div>
            <div>
                <img src="../img/" alt="" class="">
            </div>
            <div>
                <img src="../img/" alt="" class="">
            </div>
            <div>
                <img src="../img/" alt="" class="">
            </div>
        </section>
        <section id="supports" class="section">
            <h1 class="titulo-supports">Supports</h1>
            <div>
                <img src="../img/CONGRESO1.png" alt="congreso" class="congre-sup">
            </div>
            <div>
                <img src="../img/logovertical.png" alt="en-vertical" class="log-ver-sup">
            </div>
            <div>
                <img src="../img/logo_untdf.png" alt="untdf" class="log-untdf">
            </div>
            <div>
                <img src="../img/logo_uvmaria.png" alt="uvmaria" class="log-uvmaria">
            </div>
            <div>
                <img src="../img/logo_ricelt.png" alt="ricelt" class="log-ricelt">
            </div>
            <div>
                <img src="../img/logo_ort.png" alt="ort" class="log-ort">
            </div>
            <div>
                <img src="../img/logo_fdelenguas.png" alt="fde" class="log-fde">
            </div>
            <div>
                <img src="../img/logo_unpaz.png" alt="unpaz" class="log-unpaz">
            </div>
            <div>
                <img src="../img/logo_camelta.png" alt="camelta" class="log-camelta">
            </div>
            <div>
                <img src="../img/logo_gonzalez.png" alt="gonzalez" class="log-gonzalez">
            </div>
            <div>
                <img src="../img/logo_eltan.png" alt="eltan" class="log-eltan">
            </div>
            <div>
                <img src="../img/triangulo_invertido.png" alt="triangulos" class="log-tr-inv">
            </div>
        </section>
        <section id="consultants" class="section">
            <div class="pag-sec-container">
                <div class="pag-sec-row">
                    <div class="pag-sec1">
                        <img src="../img/pagina_secundaria1.png" alt="pagina-secundaria1">
                    </div>
                    <div class="pag-sec2">
                        <img src="../img/pagina_secundaria2.png" alt="pagina-secundaria2">
                    </div>
                </div>
                <div class="pag-sec-row">
                    <div class="pag-sec3">
                        <img src="../img/pagina_secundaria3.png" alt="pagina-secundaria3">
                    </div>
                    <div class="pag-sec4">
                        <img src="../img/pagina_secundaria4.png" alt="pagina-secundaria4">
                    </div>
                </div>
            </div>
        </section>
        <section id="news" class="section">
            <div>
                <img src="../img/CONGRESO1.png" alt="congreso" class="log-con">
            </div>
            <div>
                <img src="../img/logocoope.png" alt="cooperadora" class="log-coo">
            </div>
            <div>
                <img src="../img/logofaapi.png" alt="faapi" class="log-faa">
            </div>
        </section>
        <section id="about" class="section">
            <div>
                <img src="../img/triangulo_invertido.png" alt="triangulos" class="tri-inv">
            </div>
            <div>
                <img src="../img/CONGRESO1.png" alt="congreso" class="log-cong">
            </div>
            <div class="direccion">
                <p>27 de abril 370, Piso 2<br><br>
                X5000KLB Córdoba, Argentina<br><br>
                Personería Jurídica 133 "F"(1984) - Pcia. de Córdoba<br><br>
                ISSN 2314-1735</p>
            </div>
            <div>
                <img src="../img/data.png" alt="data-fiscal" class="data">
            </div>
            <div>
                <img src="../img/logos_horizontales.png" alt="logo-horizontal" class="log-hori">
            </div>
        </section>
    </main>

    <script src="../js/app.js"></script>
</body>
</html>